
<div th:fragment="editUserForm(user, error)">
  <h2 th:text="${user.id != null} ? 'Редактировать пользователя' : 'Добавить пользователя'">User Form</h2>

  <!-- Блок для отображения сообщения об ошибке -->
  <div th:if="${error}" class="alert alert-danger">
    <p th:text="${error}">Пользователь с таким email уже существует</p>
  </div>

  <form th:action="${user.id != null} ? @{/admin/{id}/update(id=${user.id})} : @{/admin}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}" />

    <!-- Поле "Имя пользователя" -->
    <div class="mb-3">
      <label for="usernameEdit" class="form-label">Имя пользователя:</label>
      <input type="text" class="form-control" id="usernameEdit" th:field="*{username}" placeholder="Введите имя пользователя" required />
    </div>

    <!-- Поле "Электронная почта" -->
    <div class="mb-3">
      <label for="emailEdit" class="form-label">Электронная почта:</label>
      <input type="email" class="form-control" id="emailEdit" th:field="*{email}" placeholder="Введите email" required />
    </div>

    <!-- Поле "Пароль" -->
    <div class="mb-3">
      <label for="passwordEdit" class="form-label" th:text="${user.id != null ? 'Пароль (оставьте пустым, если не хотите менять):' : 'Пароль:'}">Пароль:</label>
      <input type="password" class="form-control" id="passwordEdit" th:field="*{password}" placeholder="Введите пароль" />
    </div>

    <!-- Список ролей -->
    <div class="mb-3">
      <label class="form-label">Роли:</label>
      <select class="form-select" th:field="*{roles}" multiple>
        <option th:each="role : ${allRoles}" th:value="${role.id}" th:selected="${user.roles.contains(role)}" th:text="${role.name}">
        </option>
      </select>
    </div>

    <!-- Кнопка сохранения -->
    <div class="mb-3">
      <button type="submit" class="btn btn-primary" th:text="${user.id != null} ? 'Обновить' : 'Создать'">Submit</button>
    </div>
  </form>
</div>








